#title{
  font-size: 48px;
  color: rgb(88, 196, 234);
  text-align: center;
}
#text{
font-size: 24px;
color: yellowgreen;
text-align: center;

}
#images{
  background-color: green;
  text-align: center;

}
#band-images img {
  clear:both;
  margin: 2vmin;
  height: 28vmin;
  border-radius: 3vmin;

}
